@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-gray-900;
  }

  body {
    @apply bg-gray-900;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thumb-gray-700::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 4px;
  }

  .scrollbar-thumb-gray-700::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563;
  }

  .scrollbar-track-gray-900::-webkit-scrollbar-track {
    background-color: #111827;
    border-radius: 4px;
  }
}
